{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
    <title>{{ PAGE_TITLE }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- FONTAWSOME -->
        <script src="https://kit.fontawesome.com/b24469f289.js" crossorigin="anonymous"></script>
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- FLOWBITE -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" /> -->
        <!-- TAILWINDCSS -->
        {% tailwind_preload_css %}
		{% tailwind_css %}
	</head>
    <body class="h-full sm:bg-gray-50">