{% extends "ppmp/menu.html" %}
{% block content %}
<div class=" grid grid-cols-12 gap-x-3">
    <div class=" col-span-2 gap-6 border border-red-500 px-3">
        <hr class="my-3">
        <button data-modal-toggle="consolidate_modal" class="button-main">Generate APP</button>
        <button class="button-main">Print</button>
        <!-- <button class="w-full text-white bg-blue-700 hover:bg-blue-800 
        focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 ">Archives</button> -->
    </div>
    <div class=" col-span-10 border border-black p-3 space-y-4">
        <table class="w-full table-fixed text-xs">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-black">Account Code</th>
                    <th class="border border-black w-44">Source of Fund</th>
                    <th class="border border-black w-44">Year</th>
                    <th class="border border-black w-44">Quarter</th>
                    <th class="border border-black w-44">PMO/End-User</th>
                    <th class="border border-black w-44">opt</th>
                </tr>
            </thead>
            <tbody class="bg-gray-100">
                {% for i in items %}
                <tr class="text-left">
                    <td class="border border-gray-300">{{ i.item.orderdetail.category.name }} ({{ i.item.orderdetail.category.code }})</td>
                    <td class="border border-gray-300">{{ i.item.app.type }}</td>
                    <td class="border border-gray-300">{{ i.item.app.year }}</td>
                    <td class="border border-gray-300">{{ i.item.app.quarter_to_str }}</td>
                    <td class="border border-gray-300">{{ i.ttl_enduser }}</td>
                    <td class="border flex flex-col space-y-2">
                        <a href="" class="text-hyperlink">View</a>
                        <a href="" class="text-hyperlink">Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% load static %}
<script src="{% static 'js/app/main.js' %}"></script>
{% endblock content %}
{% block modals %}
<div id="consolidate_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
    <div class="relative w-full max-w-7xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Annual Procurement Plan
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="consolidate_modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="create-app-form">
                <div class="p-6 grid grid-cols-2 gap-2">
                    <div class="col-span-1">
                        <p class=""></p>
                        <div>
                            <label for="sof" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Source of Fund</label>
                            <select id="sof" name="sof" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" required>
                            {% for i in sof %}
                                <option value="{{ i.code }}">{{ i.description }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a year</label>
                            <select id="year" name="year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" required>
                            {% for i in ppmp_year %}
                                <option value="{{ i.0 }}">{{ i.0 }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="quarter" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a quarter</label>
                            <select id="quarter" name="quarter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" required>
                                <option value="0">All</option>
                                <option value="1">First Quarter</option>
                                <option value="2">Second Quarter</option>
                                <option value="3">Third Quarter</option>
                                <option value="4">Fourth Quarter</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-span-1 border-l border-gray-500 pl-2">
                        <div class=" space-y-2">
                            <div>
                                <p class="font-medium">Consolidate</p>
                                <p class="text-xs font-normal text-gray-500">Unchecked the account code or category to disregard.</p>
                            </div>
                            <div class="flex justify-between">
                                <div class="flex-1 flex items-center pl-4 rounded border border-gray-200 dark:border-gray-700">
                                    <input checked id="consolidate_all" type="radio" value="1" name="consolidate" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="consolidate_all" class="py-2 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">All account code</label>
                                </div>
                                <!-- TODO: Consolidate only specific account code -->
                                <div class="flex-1 flex items-center pl-4 rounded border border-gray-200 dark:border-gray-700">
                                    <input id="specific" type="radio" value="0" name="consolidate" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="specific" class="py-2 ml-2 w-full text-sm font-medium dark:text-gray-300">
                                        Specific account code
                                    </label>
                                </div>
                            </div>
                            <div>
                                <input type="text" id="search-category" name="search_category" 
                                    class=" p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
                                    focus:ring-blue-500 focus:border-blue-500 hidden" 
                                    placeholder="Search Category" value="" disabled>
                            </div>
                            <ul class="w-full text-sm font-medium text-gray-900 bg-white rounded-lg border" 
                            id="category-checkbox-container">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex justify-between items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button data-modal-toggle="consolidate_modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 
                    focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm 
                    font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 
                    dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modals %}