{% extends "ppmp/menu.html" %}
{% block menu_buttons %}
    {% if selected_app %}
        <a href="{% url 'ppmp' %}"><button class="px-5 py-3 bg-cyan-500 uppercase">PPMP</button></a>
    {% else %}
        <a href="{% url 'ppmp' %}"><button class="px-5 py-3 hover:bg-cyan-500 uppercase">PPMP</button></a>
    {% endif %}
    <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">APP</button></a>   
    <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">view prs</button></a>
    <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">group items</button></a>
    <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">create rfq</button></a>
    <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">set price</button></a>
{% endblock menu_buttons %}
{% block content %}
    <div class="">
        <div class="p-3 space-y-3 sm:flex items-center flex-col">
            <div class="sm:w-[90%] flex justify-start items-center">
                <a href="{% url 'ppmp' %}" class="hover:bg-blue-400 bg-blue-300 px-5 py-2.5 rounded-md font-medium" 
                data-tooltip-target="tooltip-select-cc" >
                    <button class="flex items-center space-x-2">
                        {% load static %}
                        <img src="{% static 'images/icon/arrow-left-solid.svg' %}" alt="arrow-left-solid" class=" h-4 w-4">
                    <span>Back</span>
                </button></a>
                <div id="tooltip-select-cc" role="tooltip" class="inline-block absolute invisible z-10 py-2 
                px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 
                tooltip ">
                    Back to selecting Cost Center
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <div class="w-full">
                    <p class=" font-medium text-xl text-center">Cost Center PPMP</p>
                    <div class="sm:flex justify-around">
                        <p>Cost Center Code: <span class="font-medium">{{ cost_center_data.code }}</span></p>
                        <p>Cost Center Name: <span class="font-medium">{{ cost_center_data.name }}</span></p>
                    </div>
                </div>
            </div>
            <div class="sm:w-[90%] sm:grid grid-cols-5 mb-2 gap-x-3 items-end">
                <div class="col-span-1">
                    <label for="id_cc_ppmp_year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
                        Year</label>
                    <!-- TODO: Update PPMP table based on selected year -->
                    <select name="cc_ppmp_year" id="id_cc_ppmp_year" class="bg-gray-50 border border-gray-300 
                    text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        {% for year in ppmp_year %}
                            {% if selected_year == year %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <span class="col-span-1"></span>
                <span class="col-span-1"></span>
                <div>
                    {% if selected_ppmp %}
                        <button id="create_selected_ppmp_btn" class="hover:bg-blue-400 bg-blue-300 px-5 py-2.5 rounded-md font-medium col-span-1 w-full" 
                        data-modal-toggle="create-ppmp-modal">
                            <p class="truncate">Create PPMP</p>
                        </button>
                    {% else %}
                        <button id="create_selected_ppmp_btn" class="hover:bg-gray-400 bg-gray-300 px-5 py-2.5 rounded-md font-medium col-span-1 w-full" 
                        data-modal-toggle="create-ppmp-modal" disabled>
                            <p class="truncate">Create PPMP</p>
                        </button>
                    {% endif %}
                </div>
                <div>
                    <!-- TODO: Change bg color if user select a ppmp -->
                    {% if selected_ppmp %}
                        <button id="edit_selected_ppmp_btn" 
                        class="hover:bg-blue-400 bg-blue-300 px-5 py-2.5 rounded-md font-medium col-span-1 w-full" disabled>
                            <p class="truncate">Edit PPMP</p>
                        </button>
                    {% else %}
                        <button id="edit_selected_ppmp_btn" 
                        class="hover:bg-gray-400 bg-gray-300 px-5 py-2.5 rounded-md font-medium col-span-1 w-full" disabled>
                            <p class="truncate">Edit PPMP</p>
                        </button>
                    {% endif %}
                </div>
                
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-200 sm:w-[90%]">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-3">PPMP ID</th>
                            <th scope="col" class="px-6 py-3">cost center</th>
                            <th scope="col" class="px-6 py-3">ppmp year</th>
                            <th scope="col" class="px-6 py-3">ppmp type</th>
                            <th scope="col" class="px-6 py-3">fund code</th>
                            <th scope="col" class="px-6 py-3">fund source</th>
                        </tr>
                    </thead>
                    <tbody id="ppmp_list_tbody">
                        {% for ppmp_data in cc_ppmp_list %}
                            {% if selected_ppmp.id == ppmp_data.id %}
                            <tr id="{{ ppmp_data }}" data-ppmp-id="{{ ppmp_data.id }}" class=" bg-gray-200 border-b 
                                hover:cursor-pointer cost_center_ppmp_list ">
                            {% else %}
                            <tr id="{{ ppmp_data }}" data-ppmp-id="{{ ppmp_data.id }}" class="bg-white border-b hover:bg-gray-200 
                                hover:cursor-pointer cost_center_ppmp_list ">
                            {% endif %}
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    {{ ppmp_data.id }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ ppmp_data.cc.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ppmp_data.year }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ppmp_data.type }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ppmp_data.sof.code }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ ppmp_data.sof.description }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% if not cc_ppmp_list %}
                    <tfoot>
                        <tr id="tfoot_tr" class="bg-white border-b dark:bg-gray-800 
                        dark:border-gray-700 hover:bg-gray-200 hover:cursor-pointer">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-center" 
                            colspan="6">
                                No Data
                            </th>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/ppmp/_script.js' %}"></script>
{% endblock content %}
{% block modals %}

<!-- CREATE PPMP MODAL -->
<div id="create-ppmp-modal" tabindex="-1" aria-hidden="true"  data-modal-placement="top-center"
class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-4xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Create PPMP
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="create-ppmp-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="">
                <div class="p-6 space-y-6">
                    <div class=" space-y-2">
                        <p>Cost Center: <span class=" font-medium">({{ selected_ppmp.cc.code }})</span> <span class=" font-medium">{{ selected_ppmp.cc.name }}</span></p>
                        <div class="">
                            <p>Source of Fund: <span class=" font-medium">{{ selected_ppmp.sof.description }}</span></p>
                            <p>Year: <span class=" font-medium">{{ selected_ppmp.year }}</span></p>
                            <p>Type: <span class=" font-medium">{{ selected_ppmp.type }}</span></p>
                        </div>
                        
                        <div class="">
                            <p>Budget: <span class=" font-medium">TBA</span></p>
                            <div class="grid grid-cols-3 py-2 gap-x-3">
                                <button type="button" class="col-span-1 px-2 py-1.5 bg-blue-300 hover:bg-blue-400 rounded-md w-full">Suggest item</button>
                                <button type="button" class="col-span-1 px-2 py-1.5 bg-blue-300 hover:bg-blue-400 rounded-md w-full">Lock</button>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"></div>
                                <input id="select-category-input" type="search" id="default-search" 
                                class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border 
                                border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Select Category" required>
                                <button type="button" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 
                                focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-between p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button data-modal-toggle="create-ppmp-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 
                    hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 
                    dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 
                    focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
                    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>                        
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modals %}
