{% include "theme/header.html" %}
<div class="flex sm:justify-center items-center min-w-full min-h-screen">
    <form action="{% url 'auth_user' %}" method="post" class="sm:bg-white sm:w-1/2 w-full sm:border border-gray-200 px-5 py-3 rounded-md space-y-6 shadow-lg">
        <div class="text-center space-y-3 pt-3">
            {% load static %}
            <div class="flex justify-center">
                <img src="{% static 'images/logo/msu_iit_seal.png'%}" alt="msu_iit_logo" class=" h-32">
            </div>
            <div>
                <h2 class="font-medium text-3xl">MSU-IIT</h2>
                <h2 class="font-medium text-2xl">Procurement System</h2>
            </div>
        </div>
        {% csrf_token %}
        <div class="">
            <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
            <div class="flex items-center space-x-4">
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="on" maxlength="150" 
                required id="id_username">
                <span class="text-transparent">
                    <div class=" h-4 w-4"></div>
                </span>
            </div>
        </div>
        <div class="">
            <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <div class="flex items-center space-x-4">
                <input type="password" name="password" required id="id_password">
                <span id="toggle_password">
                    <img src="{% static 'images/icon/eye-solid.svg' %}" alt="eye-solid" class=" h-4 w-4">
                    
                </span>
            </div>
        </div>
        <div class=" text-red-600">
            {% if err_msg %}
                <p>{{ err_msg }}</p>
            {% endif %}
        </div>
        <!-- <div class="flex items-start">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
            </div>
            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
        </div> -->
        <div class="flex justify-center">
            <button type="submit" class="text-white hover:bg-blue-800 focus:ring-4 focus:outline-none 
            focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-28 py-2.5 text-center bg-blue-700">Login</button>
        </div>
        <div class="flex items-start border-t-2 py-5">
            <a href="#" class=" font-medium text-xs text-blue-700 hover:underline">Forget Password?</a>
        </div>
    </form>
</div>
{% load static %}
<script src="{% static 'js/ppmp/login.js' %}"></script>
{% include "theme/footer.html" %}