{% include "theme/header.html" %}

<div class="">
        <div class=" bg-cyan-400 text-black font-medium flex justify-between h-auto">
        <div class="flex">
            {% block menu_buttons %}
                {% if selected_app == 'dashboard' %}
                    <a href="{% url 'home' %}" class="m-0"><button class="button-menu-nav-selected">Dashboard</button></a>
                {% else %}
                    <a href="{% url 'home' %}" class="m-0"><button class="button-menu-nav">Dashboard</button></a>
                {% endif %}
                {% if selected_app == 'ppmp' %}
                    <a href="{% url 'ppmp' %}" class="m-0"><button class="button-menu-nav-selected">PPMP</button></a>
                {% else %}
                    <a href="{% url 'ppmp' %}" class="m-0"><button class="button-menu-nav">PPMP</button></a>
                {% endif %}
                {% if is_admin %}
                    {% if selected_app == 'app' %}
                        <a href="{% url 'app' %}"><button class="button-menu-nav-selected">APP</button></a>
                    {% else %}
                        <a href="{% url 'app' %}"><button class="button-menu-nav">APP</button></a>
                    {% endif %}
                    {% if selected_app == 'item' %}
                        <a href="{% url 'item' %}"><button class="button-menu-nav-selected">Items</button></a>
                    {% else %}
                        <a href="{% url 'item' %}"><button class="button-menu-nav">Items</button></a>
                    {% endif %}
                {% endif %}
            {% endblock menu_buttons %}
        </div>
        <div class="flex justify-end space-x-2">
            <span class="flex items-center">
                Hello! {{ user_fn }}
            </span>
            <div class="">
                <a href="{% url 'logout_user' %}" class=" min-h-full">
                    <button class="px-5 py-3 bg-red-400 hover:bg-red-500 uppercase flex items-center min-h-full space-x-2">
                        {% load static %}
                        <img src="{% static 'images/icon/arrow-right-from-bracket-solid.svg' %}" alt="arrow-right-from-bracket-solid" class=" h-4 w-4">
                        <span class="text-xs">log out</span>
                    </button>
                </a>
            </div>
        </div>

    </div>
    <div class="pt-5">
        {% if messages %}
        <ul class="messages px-3 fixed bottom-10 w-full">
            {% for message in messages %}
            <li {% if message.tags %} class="system-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% block content %}{% endblock content  %}
    </div>
</div>
{% block modals %}{% endblock modals %}

{% include "theme/footer.html" %}
