{% include "theme/header.html" %}
<div class="">
    <div class=" bg-cyan-400 text-black font-medium flex justify-between h-auto">
        <div class="">
            {% block menu_buttons %}
                <a href="{% url 'ppmp' %}"><button class="px-5 py-3 hover:bg-cyan-500 uppercase">PPMP</button></a>
                <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">APP</button></a>   
                <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">view prs</button></a>
                <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">group items</button></a>
                <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">create rfq</button></a>
                <a href=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">set price</button></a>
            {% endblock menu_buttons %}
        </div>
        <div class="grid grid-cols-2">
            <span class=" col-span-1 flex items-center">
                Hello! {{ user_fn }}
            </span>
            <div class=" col-span-1">
                <a href="{% url 'logout_user' %}" class=" min-h-full">
                    <button class="px-5 py-3 bg-red-600 hover:bg-red-500 uppercase flex items-center min-h-full space-x-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="text-xs">log out</span>
                    </button>
                </a>
            </div>
        </div>

    </div>
    <div class="">
        {% block content %}{% endblock content  %}
    </div>
</div>
{% include "theme/footer.html" %}
