{% include "theme/header.html" %}

<div class="">
        <div class=" bg-cyan-400 text-black font-medium flex justify-between h-auto">
        <div class="">
            {% block menu_buttons %}
                {% if selected_app == 'dashboard' %}
                    <a href="{% url 'home' %}" class=""><button class="px-5 py-3 bg-cyan-500 uppercase">Dashboard</button></a>
                {% else %}
                    <a href="{% url 'home' %}" class=""><button class="px-5 py-3 hover:bg-cyan-500 uppercase">Dashboard</button></a>
                {% endif %}
                {% if selected_app == 'ppmp' %}
                    <a href="{% url 'ppmp' %}"><button class="px-5 py-3 bg-cyan-500 uppercase">PPMP</button></a>
                {% else %}
                    <a href="{% url 'ppmp' %}"><button class="px-5 py-3 hover:bg-cyan-500 uppercase">PPMP</button></a>
                {% endif %}
                {% if is_admin %}
                    {% if selected_app == 'app' %}
                        <a href="{% url 'app' %}"><button class="px-5 py-3 bg-cyan-500 uppercase">APP</button></a>
                    {% else %}
                        <a href="{% url 'app' %}"><button class="px-5 py-3 hover:bg-cyan-500 uppercase">APP</button></a>
                    {% endif %}
                    {% if selected_app == 'item' %}
                        <a href="{% url 'item' %}"><button class="px-5 py-3 bg-cyan-500 uppercase">Items</button></a>
                    {% else %}
                        <a href="{% url 'item' %}"><button class="px-5 py-3 hover:bg-cyan-500 uppercase">Items</button></a>
                    {% endif %}
                {% endif %}
            {% endblock menu_buttons %}
        </div>
        <div class="flex justify-end space-x-2">
            <span class="flex items-center">
                Hello! {{ user_fn }}
            </span>
            <div class="">
                <a href="{% url 'logout_user' %}" class=" min-h-full">
                    <button class="px-5 py-3 bg-red-400 hover:bg-red-500 uppercase flex items-center min-h-full space-x-2">
                        {% load static %}
                        <img src="{% static 'images/icon/arrow-right-from-bracket-solid.svg' %}" alt="arrow-right-from-bracket-solid" class=" h-4 w-4">
                        <span class="text-xs">log out</span>
                    </button>
                </a>
            </div>
        </div>

    </div>
    <div class="pt-5">
        {% if messages %}
        <ul class="messages px-3">
            {% for message in messages %}
            <li {% if message.tags %} class=" system-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock content  %}
    </div>
</div>
{% block modals %}{% endblock modals %}
{% block loading %}
<div id="display_loading_div" class=" bg-gray-400 bg-opacity-50 fixed top-0 right-0 left-0 w-full h-full flex items-center z-[100]">
    <div class="bg-white w-64 h-32 block mx-auto rounded-md shadow-lg px-3 py-2 space-y-2 z-[101]">
        {% load static %}
        <img src="{% static 'images/gif/loading.gif' %}" class="block mx-auto" alt="loading">
        <div class="text-sm text-gray-500 font-medium text-center">
            <p>Loading...</p>
            <p>Do not refresh data might loss.</p>
        </div>
    </div>
</div>

{% endblock loading %}
{% include "theme/footer.html" %}
