{% extends "ppmp/menu.html" %}
{% block content %}
    <div class="">
        <div class="p-3 space-y-3 sm:flex items-center flex-col">
            <p class=" font-medium sm:w-3/4">Choose Cost Center</p>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg border border-gray-200 sm:w-3/4">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-3">code</th>
                            <th scope="col" class="px-6 py-3">name</th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_cost_center in user_cost_centers %}
                            <tr id="cc_{{ user_cost_center.cc.id }}" data-cost-center-code="{{ user_cost_center.cc.code }}" class="
                            bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 hover:cursor-pointer 
                            cost_center_list">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {{ user_cost_center.cc.code }}
                                </th>
                                <td class="px-6 py-4">
                                {{ user_cost_center.cc.name }}
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">TBA</a> -->
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/ppmp/_script.js' %}"></script>
{% endblock content %}

