{% extends "ppmp/menu.html" %}
{% block content %}
<div class="p-3 space-y-3 sm:flex items-center flex-col">
    <div class=" sm:w-[90%] flex justify-between items-center">
        <a href="{% url 'ppmp_details' ppmp_id=ppmp.id %}?category_selected={{ category.code }}" class="hover:bg-blue-400 bg-blue-300 px-5 py-2.5 rounded-sm font-medium" 
        data-tooltip-target="tooltip-select-cc" >
            <button class="flex items-center space-x-2">
                {% load static %}
                <img src="{% static 'images/icon/arrow-left-solid.svg' %}" alt="arrow-left-solid" class=" h-4 w-4">
            <span>Back</span>
        </button></a>
    </div>
    <div class="sm:w-[90%] flex justify-start items-center">
        <div class=" flex flex-col space-y-2" id="ppmp_info" data-ppmp-id="{{ ppmp.id }}">
            <h1 class="font-bold">Order item logs</h1>
        </div>
    </div>
    <div class="sm:w-[90%] flex flex-col justify-start items-center">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 border-b border-gray-300" style="position: -webkit-sticky; position: sticky; top: 0;">
                <tr class=" text-center">
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Item code</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Item description</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">App status</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Recieved Quotation status</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Award winning bidder status</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Obligate PO status</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500">Served status</th>
                    <th scope="col" class="px-3 py-1.5 border border-gray-500"></th>
                </tr>
            </thead>
            <tbody id="orderdetails_container_tbody">
                {% for order in orderdetails %}
                <tr class="bg-white border border-gray-300 text-xs" 
                id="{{ order.item_id }}"
                data-order-id="{{ order.id }}">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ order.item_id }}
                    </th>
                    <td class="py-4 px-6 break-words w-28">
                        {{ order.item_name }}
                    </td>
                    <td class="py-4 px-6">
                        {{ order.app_status }}
                    </td>
                    <td class="py-4 px-6">
                        {{ order.rq_status }}
                    </td>
                    <td class="py-4 px-6" data-quart="1">
                       {{ order.awb_status }}
                    </td>
                    <td class="py-4 px-6">
                       {{ order.oblpo_status }}
                    </td>
                    <td class="py-4 px-6">
                        {{ order.serv_status }}
                     </td>
                    <td class="">
                       <button class=" text-blue-500 text-xs font-medium more_log_btn">More</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% if orderdetails is None %}
            <tfoot>
                <tr>
                    <th class="text-center font-medium py-2" colspan="12">
                        No Data
                    </th>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</div>
{% load static %}
<script src="{% static 'js/ppmp/_ppmp_log.js' %}"></script>
{% endblock content %}

{% block modals %}
<div id="item_logs_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                <h3 id="item_name" class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                    
                </h3>
                <button type="button" class="close_modal_btn text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6" id="logs">
                
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                <button type="button" class="close_modal_btn text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}
