{% extends "ppmp/menu.html" %}
{% block content %}
    <div class="pt-3 space-y-3">
        <div class="text-center space-y-2">
            <p class="sm:text-6xl text-3xl font-medium">WELCOME </p>
            <p class="sm:text-3xl text-base">{{ user_fn }}</p>
        </div>
        <div class=" flex justify-center">
            <div class=" grid grid-cols-3 w-1/2 gap-x-3 gap-y-5 p-3">
                {% if not is_admin %}
                <span class="col-span-1"></span>
                {% endif %}
                <a href="{% url 'ppmp' %}" class="col-span-1">
                    <button class="button-main">CREATE PPMP</button>
                </a>
                {% if is_admin %}
                <a href="{% url 'app' %}" class="col-span-1">
                    <button class="button-main">APP</button>
                </a>
                <a href="{% url 'app' %}" class="col-span-1">
                    <button class="button-main">ITEMS</button>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="px-10">
            <p class="">Created PPMP</p>
            <div class="">
                <table class="w-full table-fixed text-xs">
                    <thead class="bg-gray-200">
                        <tr class="border">
                            <th class="border border-black">Year</th>
                            <th class="border border-black">Cost Center</th>
                            <th class="border border-black">Source of Fund</th>
                            <th class="border border-black">Category</th>
                            <th class="border border-black">Type</th>
                            <th class="border border-black">Options</th>
                        </tr>
                    </thead>
                    <tbody class="bg-gray-100">
                        {% for order in orderdetails %}
                        <tr class="border text-left">
                            <td class="border border-gray-300">{{ order.ppmp.year }}</td>
                            <td class="border border-gray-300">{{ order.cc.name }}</td>
                            <td class="border border-gray-300">{{ order.sof.description }}</td>
                            <td class="border border-gray-300">{{ order.cat.name }} ({{ order.cat.code }})</td>
                            <td class="border border-gray-300">{{ order.ppmp.type }}</td>
                            <td class="border flex flex-col space-y-2">
                                <a href="{% url 'ppmp_details' ppmp_id=order.ppmp.id %}?category_selected={{ order.cat.code }}" target="_blank" class="text-hyperlink">View</a>
                                <a href="{% url 'generate_ppmp_pdf' cc_code=order.cc.code ppmp_id=order.ppmp.id cat_code=order.cat.code %}" target="_blank" class="text-hyperlink">Download PPMP PDF</a>
                                {% if order.ppmp.has_purchase_request %}
                                <a href="{% url 'generate_pr_pdf' ppmp_id=order.ppmp.id cat_code=order.cat.code %}" target="_blank" class="text-hyperlink">Download PR PDF</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}